.calculator {
  width: 300px;
  background-color: rgb(255, 253, 253);
  border: 1px solid rgba(124, 124, 124, 0.767);
  border-radius: 3px;
  font-size: 1.5rem;
}
.input {
  height: 4rem;
  text-align: right; 
}

.button {
  width: 3.4rem;
  height: 3rem;
  border: 1px solid #c7c5c5;
  border-radius: 4px;
}

.button:hover {
  background: rgb(204, 204, 204);
}

.equal-button {
  height: 15rem;
  background-color: rgba(78, 141, 199);
  color: white;
}

.equal-button:hover {
  background: rgb(72, 133, 190);
}

.ac-button {
  background-color: rgba(212, 103, 103);
  color: white;
}

.ac-button:hover {
  background: rgb(202, 94, 94);
}

.logo {
  width: 10rem;
}